<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2014 Rails101s
    <br>Design by <a href="https://github.com/JoshuaSyu" target=_new>joshua</a>
  </p>
</footer>